.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.login {
    text-align: center;
}

.login .card {
    margin-top: 30px;
    padding: 15px 20px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0%;
    border-top: 2px solid #0000cd;

}