@page "/archives"
<PageTitle>Archives</PageTitle>

<section class="new-era">
    <div class="container">
        <div class="new-era-head">
            <h1>A New Era of Storytelling</h1>
            <h6>We’re always looking for new ways to share our story as an organization. Consider this your
                one-stop-shop for
                official announcements, upcoming events, our President’s travel diaries, industry news, archival
                recordings from
                our tellers, and more.<br><br>

                Want a quick hit of “just the facts”? The News page is where we keep you informed about what’s going on
                at ISC.
                If you have a few extra minutes for a more leisurely read, we recommend the ISC Blog, which is where we
                keep
                dispatches from our President, features on special ISC projects, and our digital publication Stories in
                Motion,
                which examines storytelling in the context of other disciplines. We’ve also recently launched a new
                podcast,
                StoryVault, where we’ll highlight vintage performances from some of our most beloved storytellers.
                <br><br>
                <span style="text-align: center;">Please check back often for updates!</span>
            </h6>
        </div>
    </div>


</section>
<section>
    <div class="container">
        <hr>
    </div>
</section>
@* <section class="president-blog">
    <div class="container">
        <div class="president-blog-content">
            <h1>From the president's blog</h1>
            <div class="row p-3">
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <img src="images/waygf2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Story About Gratitude</h4>
                            <p class="card-text">Practicing gratitude and implementing it in our lives through prayer,
                                lists, sharing, is a major...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <img src="images/tsts2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>The Secret To Success</h4>
                            <p class="card-text">The Secret To Success – an eye opening story written by Derek Lin, this
                                story..</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <img src="images/trcl2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>This Race Called Life</h4>
                            <p class="card-text">This Race Called Life – a beautiful inspirational short-story is
                                another Dare to do. story...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h4>Story 2 Audio</h4>
                            <p class="card-text">Good morning. Nice to see you sitting close together. Snuggle. Very
                                good. Let’s see, a...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h4>Story Audio</h4>
                            <p class="card-text">The rain in Spain stays mainly on the this St. Yerk y’all. This is
                                the...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h4>The Japanese folktale</h4>
                            <p class="card-text">In ancient Kyoto, a Shinto scholar found himself distracted from his
                                prayers and sought to...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h4>The Millionaire Miser Story</h4>
                            <p class="card-text">Millionaire Miser is the story that talking about one man he ‘s a
                                millionaire but he...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <img src="images/wimt2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Why I Miss Traveling</h4>
                            <p class="card-text">Going to Cannes is something I never imagined. I can’t wait to be
                                there. I....</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h4>Hello world!</h4>
                            <p class="card-text">Welcome to WordPress. This is your first post. Edit or delete it, then
                                start writing!</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="load-more-btn"><a href="">Load More</a></div>
        </div>
    </div>
</section> *@