@page "/audio-stories"
<PageTitle>Audio Story</PageTitle>

<section class="president-blog">
    <div class="container">
        <div class="president-blog-content">
            <div class="row p-3">
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <audio controls>
                            <source src="horse.mp3" type="audio/mpeg">
                        </audio>
                        <div class="card-body">
                            <h4>Story 2 Audio</h4>
                            <p class="card-text">Good morning. Nice to see you sitting close together. Snuggle. Very
                                good. Let’s see, a...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                       <audio controls>
                            <source src="horse.mp3" type="audio/mpeg">
                        </audio>
                        <div class="card-body">
                            <h4>Story Audio</h4>
                            <p class="card-text">The rain in Spain stays mainly on the this St. Yerk y’all. This is
                                the...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        @* <img src="images/jpg" class="card-img-top" alt="..."> *@
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>