@page "/counter"
@using SqlAccessLibrary;
@using SqlAccessLibrary.SQL;

@inject UserService userService
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
@if (GetAllUsers.Count > 0)
{
    <p role="status">Current count: @GetAllUsers[0].DisplayName</p>

}
<p role="status">Current count: @currentCount</p>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    List<User> GetAllUsers = new List<User>();


    private async void IncrementCount()
    {        Console.WriteLine("++++++++++++++++++++++++++++++++++++++++++++++++++s");

        GetAllUsers = await userService.GetAllUsers();
        currentCount++;
        
    }
}
