@page "/festival-history"
<PageTitle>Festival History</PageTitle>

<section class="festival-schedule">
    <div class="container">
        <div class="festival-schedule-content">
            <h2>History of the Festival
            </h2>

        </div>
    </div>
</section>

<section class="festival-history-content">
    <div class="container">
    <h2>It's More Than Just a Festival</h2>
        <div class="row">
            <div class="col-md-8">
                <p>It began serendipitously in Jonesborough, Tennessee, a 200-year-old town in the heart of the Southern Appalachian Mountains. On the second Saturday night in October 1973, Jerry Clower, a Mississippi storyteller, leapt to the stage in a hot, jammed high school gymnasium and told tales to more than a thousand East Tennesseans. They had come for some side-splitting humor in the tales that had made Clower a household name throughout the Deep South. The crowd stomped and cheered and didn’t leave disappointed. The next afternoon, under a warm October sun, an old farm wagon in Courthouse Square served as a stage. And the storytellers were there—a former Arkansas congressman, a Tennessee banker, a college professor, a western North Carolina farmer. They told their tales and breathed life into the first National Storytelling Festival.</p>
                <br>

                <p>Something had happened, and even as people sat listening, they knew they would return the next year and the next. It was as if an ancient memory had been jogged–of people throughout time sitting together, hearing stories. They were taken back to a time when the story, transmitted orally, was all there was.</p>
                <br>
                <p>Since its beginning, the National Storytelling Festival has become America’s foremost storytelling showcase and it has nurtured and nourished the storytelling revival in America. The Festival has featured hundreds of storytellers from across the globe and welcomed hundreds of thousands of story listeners. Tellers have represented countless ethnicities and cultures including African American, Jewish, Aboriginal, Egyptian, Asian, Celtic, Hispanic, Israeli, Liberian, French,  African, Caribbean, and Native American as well as the deaf and disabled communities. </p>
                <br>
            </div>
            <div class="col-md-4">
                <div class="history-caption">
                    <img src="images/1976fh.jpg">
                    <p><span>1976 Festival attendees on haybales</span></p>
                    <img src="images/2002-Doc.jpg">
                    <p><span>2002 Festival - Doc McConnell Medicine Show</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="flex-container">
            <span><h3>“It’s not just style and subject matter that contribute to the diversity of performances at the National Festival. The stories and music come from many different cultural traditions and ethnic backgrounds.”</h3>
            <p>Boston Globe</p></span>

            <span><h3>“The old-fashioned art of storytelling has become a 21st century sensation.”</h3>
            <p>U.S. News and World Report</p></span>

            <span><h3>"From all over America, people came to Jonesborough just to hear stories."</h3>
            <p>Smithsonian</p></span>

            <span><h3>“Like a Bonnaroo of the spoken word, the National Storytelling Festival in Jonesborough presents yarn spinning as a living art that can rock a tent packed with hundreds of rapt listeners.”</h3>
            <p>Garden and Gun</p></span>
        </div>
    </div>
</section>

@* <section class="festival-photos">
    <div class="container">
        <div class="flex-wrap">
            <div class="row">
                <div class="col-md-">
            </div>
            <img src="images/2002-Doc-McConnell-Medicine-Show.jpg">
            <img src="images/2002-Doc.jpg">
            <img src="images/A-rare-photo-of-the-FIRST-National-Storytelling-Festival-in-Jonesborough-TN.-1973.-I-was-the.jpg">
            <img src="images/CRB_10TH-NSF.jpg">
            <img src="images/Festival-1976.jpg">
            <img src="images/Jackie-Torrence-and-Jimmy-Neil-Smith-.jpg">
            <img src="images/Kathryn-Windham_2.jpg">
            <img src="images/mcconnell_Tom-Raymond-Fresh-Air-Photographics.jpg">
            <img src="images/Ray-Hicks-and-Fan-1.jpg">
            <img src="images/RayHicksCrowd.jpg">
            <img src="images/Screenshot-2024-01-26-142137.jpg">
            <img src="images/Screenshot-2024-01-26-143520.jpg">
            <img src="images/10th-anniversy-photo_Jo-Anne-Jones.jpg">
            <img src="images/10th-annual-NSF.jpg">
            <img src="images/20th-festival-photo-Tom-Raymond-storytellers-1992.jpg">
            <img src="images/193-Festival-Ray-Hicks-.jpg">
            <img src="images/1970-Board-Members.jpg">
            <img src="images/1976-Festival-Doc-McConnell.jpg">
            <img src="images/1976-Festival-Hay-bales.jpg">
            <img src="images/1976-Festival-Ssappin-Ground.jpg">
            <img src="images/1977-Fesitval-Ray-Hicks.jpg">
            <img src="images/1978Fest_GambleRogers.jpg">
            <img src="images/1981_GhostStories_art_beat.jpg">
            <img src="images/1984-Festival-Volunteers.jpg">
            <img src="images/1991-Festival.jpg">
            
        </div>

    </div>
</section> *@

<section class="support-donation">
    <div class="container" id="donation-background">
        <div class="donation-content">
            <h2>Please consider supporting our work.
            </h2>
            <p>Click one of the buttons below to learn more about<br>
                opportunities for sponsorship, donating or volunteering.</p>
            <a class="support-btn" href="">sponsor</a>
            <a class="support-btn" href="">donate</a>
            <a class="support-btn" href="">volunteer</a>
        </div>
    </div>
</section>