@page "/"
@using SqlAccessLibrary
@inject TitlePageService titlePageService
<PageTitle>Index</PageTitle>

<div class="main">
    <div class="container-fluid">
        @* <div class="isc-main">
            <h2>Welcome to International</h2>
            <h3>Storytelling Center</h3>
            <h4>Performance Archive</h4>
            <a href="#" class="register-now-btn">Register Now</a>
        </div> *@
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/Storytelling_Center.png" class="isc-main" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="isc-main">
                            @* <h2>Welcome to International</h2>
                            <h3>Storytelling Center</h3>
                            <h4>Performance Archive</h4>
                            <a href="#" class="register-now-btn">Register Now</a> *@
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                <img src="/images/car-1.png" class="isc-main" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    @* <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p> *@
                </div>
                </div>
                <div class="carousel-item">
                <img src="/images/car-2.png" class="isc-main" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    @* <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p> *@
                </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </div>


<section class = "stories-section">
    <div class = "container">
    <h2>Live from the Grounds of the National<br> Storytelling Festival</h2>
        <div class = "row">
            <div class = "col-md-4">
                <div class="card" style="width: 23rem;">
                    <img src="/images/2023festival.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">2023 Festival Archive</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Vestibulum venenatis
                            leo nulla, vel euismod enim egestas et
                            Nulla eu pharetra odio. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. </p>
                    </div>
                </div>
            </div>
            <div class = "col-md-4">
                <div class="card" style="width: 23rem;">
                    <img src="/images/2022festivals.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> 2022 Festival Archive</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Vestibulum venenatis
                            leo nulla, vel euismod enim egestas et
                            Nulla eu pharetra odio.  </p>                        
                    </div>
                </div>
            </div>
            <div class = "col-md-4">
                <div class="card" style="width: 23rem;">
                    <img src="/images/2019festival.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">2019 Festival Archive</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Vestibulum venenatis
                            leo nulla, vel euismod enim egestas et
                            Nulla eu pharetra odio euismod.  </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="register-button">
            <a href="/register" class="register-for-more-btn">Register for More Stories</a>
        </div>
    </div>
</section>

<section class = "performances-section">
    <div class = "container">
        <h2>Featured Video Playlist</h2>
        <div class = "row">
            <div class = "col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at felis orci. Donec ex ipsum, dignissim id tristique condimentum, rhoncus vel ex. Nullam auctor est eros, at dignissim lorem dignissim eleifend. Ut malesuada dictum turpis vel tristique. Sed mauris sapien, mattis quis tincidunt at, rutrum ac nisl. Ut rhoncus lobortis lectus varius dictum. Quisque scelerisque, ligula ut vestibulum ultricies, risus nulla aliquam quam, in scelerisque urna nibh sit amet nibh. </p>
                <a href="https://www.youtube.com/playlist?list=PLXQF3IuzbNF3Zsw0BWXZV7lsXDSZ5OXbL" class="register-for-more-btn">Go to Playlists</a>
            </div>
            <div class = "col-md-6">
                <img src="images/" alt="">
                <iframe style="width: 100%!important; height: 315px!important; " src="https://www.youtube.com/embed/videoseries?si=xo5EMq-in4O03Se0&amp;list=PLXQF3IuzbNF3Zsw0BWXZV7lsXDSZ5OXbL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section class = "festival-sections">
    <div class = "container">
        <h2>More About the Festival</h2>
        <p>Our vision is a better life, a better world, through the power of storytelling.</p>
        
            <iframe style="width: 100%!important; height: 500px!important; " src="https://www.youtube.com/embed/dV82qaEooSs?si=r-GPP4WQ3TUYiSsx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
        @* <iframe width="850" height="500" src="https://www.youtube.com/embed/dV82qaEooSs?si=IrotIhTudt6M2bY2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> *@
    </div>
</section>

<section class = "festival-blogs-sections">
    <div class = "container">
        <h2>Beyond the Festival</h2>
        <div class="row p-3">
            <div class="col-md-4">
                <div class="card" style="width: 22rem;">
                    <img src="images/waygf2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4>Storytelling Live</h4>
                        <h6>November 14, 2022 / iswpadmin</h6> 
                        <p class="card-text">Practicing gratitude and implementing it in our lives through prayer,
                            lists, sharing, is a major...</p>
                        <a href="https://www.storytellingcenter.net/storytelling-live-main/" class="rm-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 22rem;">
                    <img src="images/tsts2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4>The Legacy Series</h4>
                        <h6>November 14, 2022 / iswpadmin</h6> 
                        <p class="card-text">The Secret To Success – an eye opening story written by Derek Lin, this
                            story..</p>
                        <a href="https://www.storytellingcenter.net/legacy-series/" class="rm-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 22rem;">
                
                    <img src="images/trcl2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4>Stories for Change</h4>
                        <h6>November 14, 2022 / iswpadmin</h6> 
                        <p class="card-text">This Race Called Life – a beautiful inspirational short-story is
                            another Dare to do. story...</p>
                        <a href="https://www.storytellingcenter.net/stories-for-change/" class="rm-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sign-up-section">
    <div class="container">
        <h2>Register for Archive Performances</h2>
        <br>
        <form class="input-newsletter" action="#">
            <input type="text" placeholder="Your Email Address" name="search">
            <button type="submit" class="button-subscribe"><i></i>SUBSCRIBE</button>
        </form>
        <br>
        <a href="/register" class="register-for-more-btn">Register Now !!!</a>
    </div>
</section>





