@page "/initiatives"
<PageTitle>Initiatives</PageTitle>

<section class="initiatives">
    <div class="container">
        <h2>Initiatives</h2>
        <p>As our changing world constantly presents new ways to craft and share stories, as an organization, we’re excited by these possibilities. The mission of the International Storytelling Center has always been to enrich lives through story, through arts and the oral tradition of storytelling. Our new vision, A Story in Progress was born of a strategic planning session with our board, but it’s been more than 40 years in the making. 
            It’s time to expand our programmatic reach,  as we focus on our key strategic steps to Innovate, Engage, Grow, Connect, Educate, and Communicate.  We invite you to explore our initiatives and to join us as we build a better world through the power of storytelling</p>
    </div>
</section>

<section class="initiatives-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img style="width: 100%;" src="images/MaryBMartinStorytellingHall.jpg">
            </div>
            <div class="col-md-6">
                <h2>Learning Library</h2>
                <p>Through a global learning program, ISC will provide a series of innovative, educational opportunities to teach the power of storytelling. Through this program, ISC introduces the power of storytelling, serves as a connecting point for a community of learners, and provides a resource for learning the creative applications of storytelling.</p>
                <a href="" class="initiative-btn">Learn More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>I Have A Story</h2>
                <p>“I Have a Story” encompassed a series of four projects that the International Storytelling Center designed to serve its home base of Washington County, Tennessee. Leveraging the power of storytelling to build relationships, foster community, amplify marginalized voices, and boost civic engagement, ISC worked with community partners to offer free instructional workshops.</p>
                <a href="" class="initiative-btn">Learn More</a>
            </div>
                
            <div class="col-md-6">
                <img style="width: 100%;" src="images/IHAS-Mt.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img style="width: 100%;" src="images/DSC_0611.jpg">
            </div>
            <div class="col-md-6">
                <h2>Kid’s Institute </h2>
                <p>Master Storyteller Tim Lowry will be offering his interactive one-man show, Thomas Edison: Ten Thousand Tries, where students will be treated to interpretive stories which include moments from Edison’s childhood, tales about how he developed the dynamo, and explore how electricity is made. At the end of the show, teachers will be given links to an online toolkit for expanded study lessons and students will have a science project to take home they can complete with common household items.</p>
                <a href="" class="initiative-btn">Learn More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Freedom Stories</h2>
                <p>Freedom Stories: Unearthing the Black Heritage of Appalachia is an ongoing series that marries performance and discussion, connecting prominent Black storytellers, humanities scholars, and community leaders with the public to trace this rich history and highlight the role that face-to-face storytelling has played in both African and Appalachian experience—from the first African arrivals in these mountains, to the shaping of a distinct culture, to the ongoing struggles for freedom and equality. This project is funded by the National Endowment of the Humanities.</p>
                <a href="" class="initiative-btn">Learn More</a>
            </div>
                
            <div class="col-md-6">
                <img style="width: 100%;" src="images/about-freedom.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img style="width: 100%;" src="images/SHEro.jpg">
            </div>
            <div class="col-md-6">
                <h2>Shero’s Journey</h2>
                <p>Shero’s Journey is part of our Stories for Change programming, a series of youth initiatives from the International Storytelling Center. Studies measuring self-confidence show that during pivotal tween years, a girl’s confidence and self-esteem take a major dip, more so than male peers her age, and that the dip is more likely to last into adulthood. This program aims to combat that dip and help girls feel more confident and capable. </p>
                <a href="" class="initiative-btn">Learn More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Community Voices Magazine</h2>
                <p>In partnership with the ETSU Office of Equity and Inclusion, this magazine helps people hear each other, one story at a time. </p>
                <a href="" class="initiative-btn">Learn More</a>
            </div>
                
            <div class="col-md-6">
                <img style="width: 100%;" src="images/community.png">
            </div>
        </div>
    </div>
</section>
<section class="support-donation">
    <div class="container" id="donation-background">
        <div class="donation-content">
            <h2>Please consider supporting our work.
            </h2>
            <p>Click one of the buttons below to learn more about<br>
                opportunities for sponsorship, donating or volunteering.</p>
            <a class="support-btn" href="">sponsor</a>
            <a class="support-btn" href="">donate</a>
            <a class="support-btn" href="">volunteer</a>
        </div>
    </div>
</section>