@page "/our-stories"
<PageTitle>Our Stories</PageTitle>

<section class="president-blog">
    <div class="container">
        <div class="president-blog-content">
            <h1>Our History</h1>
            <div class="row p-3">
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <img src="images/1976-Festival-Hay-bales.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Our Humble Beginnings</h4>
                            <p class="card-text">Jonesborough teacher, Jimmy Neil Smith and fellow residents staged first ever National Storytelling Festival on an old farm wagon in Courthouse Square for an audience of 60 listeners.</p>
                            <a href="https://www.storytellingcenter.net/our-story/" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <img src="images/1970-Board-Members.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Organizing</h4>
                            <p class="card-text">Two years later, those storytellers formed the National Association for the Preservation and Perpetuation of Storytelling (NAPPS), a nonprofit organization dedicated to advancing this newly emerging revival of interest in storytelling. NAPPS would later be called the National Storytelling Association (NSA).</p>
                            <a href="https://www.storytellingcenter.net/our-story/" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <img src="images/1984-Festival-Volunteers.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Celebrating 10 Years</h4>
                            <p class="card-text">Celebrating 10 Years</p>
                            <a href="https://www.storytellingcenter.net/our-story/" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="row p-3">
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h4>Story 2 Audio</h4>
                            <p class="card-text">Good morning. Nice to see you sitting close together. Snuggle. Very
                                good. Let’s see, a...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h4>Story Audio</h4>
                            <p class="card-text">The rain in Spain stays mainly on the this St. Yerk y’all. This is
                                the...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h4>The Japanese folktale</h4>
                            <p class="card-text">In ancient Kyoto, a Shinto scholar found himself distracted from his
                                prayers and sought to...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h4>The Millionaire Miser Story</h4>
                            <p class="card-text">Millionaire Miser is the story that talking about one man he ‘s a
                                millionaire but he...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <img src="images/wimt2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Why I Miss Traveling</h4>
                            <p class="card-text">Going to Cannes is something I never imagined. I can’t wait to be
                                there. I....</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h4>Hello world!</h4>
                            <p class="card-text">Welcome to WordPress. This is your first post. Edit or delete it, then
                                start writing!</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div> *@
            <div class="load-more-btn"><a href="https://www.storytellingcenter.net/our-story/">Check our stories</a></div>
        </div>
    </div>
</section>
@* <SliderTwo /> *@

<section>
    <div class="container">
        <hr>
    </div>
</section>

<section class="new-era">
    <div class="container">
        <div class="new-era-head">
            <h1>Our Story</h1>
            <h6>Throughout the world, in every culture, people have told stories–at home and at work, when the harvest was taken in, the wood was cut and carted, and the wool was woven. And while the folk were telling their stories, so too were the bards and the minstrels, the griots and troubadours, who were the poets, singers and guardians of a people’s history.

Today, we still enjoy stories–listening to them, telling them–as deeply as did our ancestors, for our lives are bound together with stories; the tales, perhaps ever so ordinary, that seem to catch us up and in some obscure, almost magical way, help us make sense of our world. And since our lives are still intertwined with stories, it would seem that the art of storytelling should have a forever-unchanging place of honor in our history and culture. Yet this is not so. Despite its ageless power and importance, this ancient folk art has, until recently, been forgotten–lost in a sea of print, film and videotape that is testimony to the media’s skill at filling us up with images and ideas that were once the province of the oral tradition.

But during the late 1960s and early 1970s, there emerged throughout America a realization that we were losing our connection to the genuine one-on-one communication of the told tale. The seeds for a re-awakening of interest in the oral tradition were being sown. And in 1973, in a tiny Tennessee town, something happened that rekindled our national appreciation of the told story and became the spark plug for a major cultural movement–the rebirth of the art of storytelling.

It began serendipitously in Jonesborough, Tennessee, a 200-year-old town in the heart of the Southern Appalachian Mountains. On the second Saturday night in October 1973, Jerry Clower, a Mississippi storyteller, leapt to the stage in a hot, jammed high school gymnasium and told tales to more than a thousand East Tennesseans. They had come for some side-splitting humor in the tales that had made Clower a household name throughout the Deep South. The crowd stomped and cheered and didn’t leave disappointed. The next afternoon, under a warm October sun, an old farm wagon in Courthouse Square served as a stage. And the storytellers were there—a former Arkansas congressman, a Tennessee banker, a college professor, a western North Carolina farmer. They told their tales and breathed life into the first National Storytelling Festival.

Something had happened, and even as people sat listening, they knew they would return the next year and the next. It was as if an ancient memory had been jogged–of people throughout time sitting together, hearing stories. They were taken back to a time when the story, transmitted orally, was all there was.

Every October since 1973, thousands of travelers have visited Tennessee’s oldest town. They come for one purpose–to hear stories and to tell them at the National Storytelling Festival. This celebration of America’s rich and varied storytelling tradition, the oldest and most respected gathering anywhere in America devoted to storytelling, has in turn spawned a national revival of this venerable art.

But of course, there have always been storytellers–solitary tellers–telling stories, keeping them alive. They were inspired not by a groundswell for storytelling, but simply because there was within them a need to tell. They are the storytellers who have been at the vanguard of the cultural movement that is sweeping through America. They are the storytellers who were among the architects of America’s storytelling revival. Single voices at first, they soon were joined by others who were also attracted to the power and humanity of the storytelling art. Today, there are hundreds of professional storytellers traveling throughout the United States, sharing their timeless tales. And yes, thousands more who are teachers, librarians, ministers, lawyers, salesmen, therapists, and others who use storytelling as an integral part of their lives and work.

Since its beginning in 1973, the National Storytelling Festival has become America’s foremost storytelling showcase and it has nurtured and nourished a national rebirth of storytelling. And as more of us discover and tell the stories in our own lives, the connection–the genuine one-on-one communication of the told story–will allow us to give back to our world something as precious and treasured as life itself.

The National Storytelling Festival is produced by the International Storytelling Center.
                <br><br>
                <span style="text-align: center;">Please check back often for updates!</span>
            </h6>
        </div>
    </div>


</section>