@page "/our-team"
<PageTitle>Our Team</PageTitle>

<section class="our-team">
    <div class="container">
        <div class="our-team-content">
            <h1>OUR TEAM</h1>
            <h6>ISC’s core team consists of a small but dedicated full-time staff, which is guided by the wisdom and experience of ten board members. These folks curate all of ISC’s live events, organize its outreach work, and keep the organization running from day to day.
                </h6>
        </div>
        <br>
        <hr>
        <br>
        <div class="our-team-content">
            <h1>MEET THE STAFF</h1>
            <h6>ISC’s administrative offices are headquartered in downtown Jonesborough, in a two-building campus that includes the historic Chester Inn (a state historic site!) and the 14,000-square foot Mary B. Martin Storytelling Hall.
            </h6>
        </div>
    </div>
</section>

 <section class="slider-staff"> 
     <div class="container"> 
         <div class="carousel" data-bs-ride="carousel" id="carouselExample"> 
             <div class="carousel-inner"> 
                 <div class="carousel-item active" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/angela.jpg" alt="" class="img-fluid"> 
                             <h4><a href="3">Angela White</a></h4> 
                         </div> 
                     </div> 
                 </div> 
                 <div class="carousel-item" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/sandy-reaves.jpg" alt="" class="img-fluid"> 
                             <h4><a href="3">Sandy Reaves</a></h4> 
                         </div> 
                     </div> 
                 </div> 
                 <div class="carousel-item" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/ben.jpg" alt="" class="img-fluid"> 
                             <h4><a href="3">Ben Weakley</a></h4> 
                         </div> 
                     </div> 
                 </div> 
                 <div class="carousel-item" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/marianne.jpg" alt="" class="img-fluid"> 
                             <h4><a href="3">Marianne Huff</a></h4> 
                         </div> 
                     </div> 
                 </div> 
                  
                 <div class="carousel-item" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/SusanO-Connor.jpg" alt="" class="img-fluid"> 
                             <h4><a href="3">SusanO' Connor</a></h4> 
                         </div> 
                     </div> 
                 </div> 
                 <div class="carousel-item" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/kiran-singh-sirah.jpg" alt="" class="img-fluid"> 
                             <h4><a href="3">Kiran Singh Sirah</a></h4> 
                         </div> 
                     </div> 
                 </div> 
                 <div class="carousel-item" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/lesley.jpg" alt="" class="img-fluid"> 
                             <h4><a href="3">Lesley McDavid</a></h4> 
                         </div> 
                     </div> 
                 </div> 
                 <div class="carousel-item" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/krystal-hawkins.jpg" alt="" class="img-fluid"> 
                             <h4><a href="3">Krystal Hawkins</a></h4> 
                         </div> 
                     </div> 
                 </div> 
                  
                 <div class="carousel-item" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/Sarah-Bethea.jpeg" alt="" class="img-fluid"> 
                             <h4><a href="3">Sarah-Bethea</a></h4> 
                         </div> 
                     </div> 
                 </div> 
                 <div class="carousel-item" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/alystyne-turley.jpg" alt="" class="img-fluid"> 
                             <h4><a href="3">Dr. Alystyne Turley</a></h4> 
                         </div> 
                     </div> 
                 </div> 
                 <div class="carousel-item" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/kate-walters.jpg" alt="" class="img-fluid"> 
                             <h4><a href="3">Kate Walters</a></h4> 
                         </div> 
                     </div> 
                 </div> 
                 <div class="carousel-item" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/lynnea-salinas.jpg" alt="" class="img-fluid"> 
                             <h4><a href="3">Lynnea Salinas</a></h4> 
                         </div> 
                     </div> 
                 </div> 
                 <div class="carousel-item" id="carouselExample"> 
                     <div class="col-md-4"> 
                         <div class="card-body"> 
                             <img src="images/jimmy-neil-smith.jpg" alt="" class="img-fluid"> 
                             <h4><a href="3">Jimmy Neil Smith</a></h4> 
                         </div> 
                     </div> 
                 </div> 
             </div> 
             <button class="carousel-control-prev" data-bs-target="#carouselExample" type="button" data-bs-slide="prev"> 
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                 <span class="visually-hidden">Previous</span> 
             </button> 
             <button class="carousel-control-next" data-bs-target="#carouselExample" type="button" data-bs-slide="next"> 
                 <span class="carousel-control-next-icon" aria-hidden="true"></span> 
                 <span class="visually-hidden">Next</span> 
             </button> 
         </div> 
 
     </div> 
 </section> 

<section class="our-board">
    <div class="container">
        <div class="our-board-content">
            <h1>OUR BOARD</h1>
            <h6>ISC’s talented Board of Governors consists of ten individuals with backgrounds in areas that encompass performing arts, the humanities, education, peacebuilding, and fundraising. Together, their insights help guide the organization’s mission and work.
            </h6>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 23rem;">
                        <div class="card-body">
                            <img src="images/Ariel-Gratch-2.jpg" alt="" class="img-fluid">
                            <h4><a href="3">Ariel Gratch, Vice Chairman</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 23rem;">
                        <div class="card-body">
                            <img src="images/Bonnie-MacDonald.jpg" alt="" class="img-fluid">
                            <h4><a href="3">Bonnie Mcdonald</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 23rem;">
                        <div class="card-body">
                            <img src="images/cayden-mac.png" alt="" class="img-fluid">
                            <h4><a href="3">Cayden Mac</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 23rem;">
                        <div class="card-body">
                            <img src="images/Claudia-Kosinetz.jpg" alt="" class="img-fluid">
                            <h4><a href="3">Claudia Kosinetz</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 23rem;">
                        <div class="card-body">
                            <img src="images/cherry_donna.jpg" alt="" class="img-fluid">
                            <h4><a href="3">Donna Cherry</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 23rem;">
                        <div class="card-body">
                            <img src="images/Erin-Rosalina.jpg" alt="" class="img-fluid">
                            <h4><a href="3">Erin Rosalina, Chair</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 23rem;">
                        <div class="card-body">
                            <img src="images/kiran-singh-sirah.jpg" alt="" class="img-fluid">
                            <h4><a href="3">Kiran Singh Sirah</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 23rem;">
                        <div class="card-body">
                            <img src="images/Lyn-Ford.jpg" alt="" class="img-fluid">
                            <h4><a href="3">Lyn Ford</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 23rem;">
                        <div class="card-body">
                            <img src="images/Lynda-Harris.jpg" alt="" class="img-fluid">
                            <h4><a href="3">Lynda Harris</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
     var items = document.querySelectorAll('.carousel .carousel-item');
     console.log("item1 ", items);
     items.forEach((e) =>
     {
         const slide = items.length;
         let next = e.nextElementSibling;
         for (var i = 0; i <= slide; i++)
         {
    
             if (!next)
             {
                 next = items[0];
             }
             let clonechild = next.cloneNode(true);
             e.appendChild(clonechild.children[0]);
             next = next.nextElementSibling;
    
         }
     })
     $('.carousel').carousel({
         interval: 1000
     })
    //$('.carousel').on('slid.bs.carousel', function (e)
    // {
    // console.log(e)
    // if (e.from == slide-2)
    //     {
    //         $('.carousel').carousel(0)
    //
    //     }
    //     e.preventDefault()
    //
    // })
</script>