@page "/our-vision"
<PageTitle>Our Vision</PageTitle>
<section class="planurtrip-schedule">
    <div class="container">
        <div class="planurtrip-schedule-content">
            <h2>Our Vision</h2>
        </div>
    </div>
</section>

<section class="planurtrip-content">
    <div class="container">
        <h2>Our vision is a better life, a better world, through the power of storytelling.</h2>
        <p>We live in a complex age—an era of social, economic, and civic challenges. Although concerned and dedicated individuals, organizations, and government agencies are addressing these challenges, the issues remain daunting.

Storytelling can’t directly feed the hungry, house the homeless, or cure the sick. Yet, we all have the capacity to tap into our stories, our narrative assets, and communicate more effectively.

A well-told story can communicate truth, concept, or idea with immeasurable power. ISC is dedicated to connecting this powerful tool with the voices of individuals, organizations, and communities across the world to help them achieve their goals.

To achieve this worthy vision, ISC is advancing the power and possibilities of storytelling and providing people across the world with the knowledge, experiences, and tools to effectively tap into the contemporary applications of this longstanding tradition.</p>
		@* <div class="pyt-btn">
			<a class="sponsor-btn" href="">general festival info</a>
			<a class="sponsor-btn" href="">festival brochure</a>
			<a class="sponsor-btn" href="">festival map</a>
		</div> *@
        
    </div>
</section>
<section class="support-donation">
    <div class="container" id="donation-background">
        <div class="donation-content">
            <h2>Please consider supporting our work.
            </h2>
            <p>Click one of the buttons below to learn more about<br>
                opportunities for sponsorship, donating or volunteering.</p>
            <a class="support-btn" href="">sponsor</a>
            <a class="support-btn" href="">donate</a>
            <a class="support-btn" href="">volunteer</a>
        </div>
    </div>
</section>