@page "/plan-your-trip"
<PageTitle>Plan Your Trip</PageTitle>

<section class="planurtrip-schedule">
    <div class="container">
        <div class="planurtrip-schedule-content">
            <h2>Plan Your Trip</h2>
        </div>
    </div>
</section>

<section class="planurtrip-content">
    <div class="container">
        <h2>Plan Your Trip</h2>
        <p>We’ve gathered info that should be helpful as you plan your trip to the International Storytelling Center.  
        Here’s how the Festival works: Large, circus-type tents are scattered throughout charming, downtown 
        Jonesborough. Each tent has plenty of seating. Regular programming is then scheduled in each tent 
        throughout the day; our attendees simply choose which tent they want to attend at which time. 
        The tents are all located within easy walking distance of each other.  You will be given a program 
        that will include the schedule when you pick up your passes at Festival Headquarters, located in the
        Jonesborough Visitor’s Center.  Regular Festival programming is scheduled from 10:00 a.m. to 10:00 
        p.m. Friday and Saturday and from 10:00 a.m. to 4:30 p.m. on Sunday. The complete schedule can be 
        viewed online a few days prior to the festival.</p>
		<div class="pyt-btn">
			<a class="sponsor-btn" href="">general festival info</a>
			<a class="sponsor-btn" href="">festival brochure</a>
			<a class="sponsor-btn" href="">festival map</a>
		</div>
        
    </div>
</section>
<section class="planurtrip-content">
    <div class="container">
        <h2>About Jonesborough</h2>
        <p>Known affectionately as the Storytelling Capital of the World, Jonesborough launched the world’s storytelling renaissance. Tucked away in the Appalachian Mountains, Tennessee’s oldest town offers historic charm, modern services, and first-rate hospitality.</p>
        <div class="pyt-btn">
			<a class="sponsor-btn" href="">learn more about historic Jonesborough</a>
		</div>
    </div>
</section>
<section class="group-tickets">
    <div class="container">
        <h2>Group ticket</h2>

        <p>The National Storytelling Festival offers a registration discount to organized adult groups. Please note there are no additional group discounts to the senior and child rates as they are already discounted. Group discounts do not apply to Ghost Stories or Midnight Cabaret tickets.</p>
        
        <h3>To qualify for a group discount, the following criteria must be met:</h3>
        <ul>
            <li>A group must have at least 10 members.</li>
            <li>The group must designate one person to pick up the tickets for the entire group. Tickets will not be held at the registration desk for distribution to individual members of the group.</li>
            <li>A group registration must be pre-paid, using only one check or credit card at the time the registration form is submitted.</li>
            <li>All members of a group must purchase a ticket for the same day or days. For example, all tickets must be for the full weekend, for Saturday only, etc.</li>
			<li style="font-weight: 600;">Postmark deadline for group registrations is September 17, 2022. Group discounts are not allowed for on-site registrations.</li>
        	<li>Group tickets are not available online. They can be purchased by calling ISC at <a href="tel:800-952-8392">800-952-8392</a>, ext. 283 mailing the group registration form, faxing it to <a href="tel:423-913-8219">423-913-8219</a>, or e-mailing it to ISC.</li>
        </ul>

        
        
        <p>Once a group is registered, adjustments in group numbers may be made by mailing a written request to the International Storytelling Center. It must be postmarked no later than September 17, 2022. The group rate in effect at the time of the adjustment will apply.</p>
        
        <p><span style="font-weight: 600">All tickets purchased to the National Storytelling Festival are final.</span> If you are unable to use your tickets, these 2 options are available:</p>
        <ul>
            <li>Exchange your ticket for a ticket to next year’s Festival. The exchange request must be made in writing before the ticket date. The exchange request is limited to 1 year.</li>
            <li>Donate your ticket purchase back to the Organization as a tax-deductible contribution. This option is only available during the year in which you purchased the ticket.</li>
        </ul>
    </div>
</section>
<section class="Where-to-stay">
    <div class="container">
		<div class="wheretostay-content">
       		<h1>Where to Stay</h1>
			<div class="row mb-5">
				<div class="col-md-3">
					<h2>Jonesborough, TN</h2>
					<p style="font-style: italic;">(Most of these fill up a year in advance)</p>
				</div>
				<div class="col-md-3">
					<p>Country Inn & Suites by Carlson</p>
					<p>423-753-3100</p>
					<div class="spacing"></div>
					<p>Eureka Hotel</p>
					<p>14239136100</p>
				</div>
				<div class="col-md-3">
					<p>Franklin House B & B</p>
					<p>14239136100</p>
					<div class="spacing"></div>
					<p>Hawley House B & B</p>
					<p>14237538869</p>
				</div>
				<div class="col-md-3">
					<p>Jonesborough Bed & Breakfast</p>
					<p>13055191117</p>
					<div class="spacing"></div>
					<p>Linnaea Gardens Guest House</p>
					<p>14237533286</p>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md-3">
					<p>Country Inn & Suites by Carlson</p>
					<p>423-753-3100</p>
					<div class="spacing"></div>
					<p>Eureka Hotel</p>
					<p>14239136100</p>
				</div>
				<div class="col-md-3">
					<p>Franklin House B & B</p>
					<p>14239136100</p>
					<div class="spacing"></div>
					<p>Hawley House B & B</p>
					<p>14237538869</p>
				</div>
				<div class="col-md-3">
					<p>Jonesborough Bed & Breakfast</p>
					<p>13055191117</p>
					<div class="spacing"></div>
					<p>Linnaea Gardens Guest House</p>
					<p>14237533286</p>
				</div>
				<div class="col-md-3">
					<h2>Johnson City, TN</h2>
					<p style="font-style: italic;">(These hotels are about 8 to 10 miles from Jonesborough)</p>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md-3">
					<h2>Greeneville</h2>
					@* <p>(Most of these fill up a year in advance)</p> *@
				</div>
				<div class="col-md-3">
					<p>Country Inn & Suites by Carlson</p>
					<p>423-753-3100</p>
					<div class="spacing"></div>
					<p>Eureka Hotel</p>
					<p>14239136100</p>
				</div>
				<div class="col-md-3">
					<p>Franklin House B & B</p>
					<p>14239136100</p>
					<div class="spacing"></div>
					<p>Hawley House B & B</p>
					<p>14237538869</p>
				</div>
				<div class="col-md-3">
					<p>Jonesborough Bed & Breakfast</p>
					<p>13055191117</p>
					<div class="spacing"></div>
					<p>Linnaea Gardens Guest House</p>
					<p>14237533286</p>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md-3">
					<p>Country Inn & Suites by Carlson</p>
					<p>423-753-3100</p>
					<div class="spacing"></div>
					<p>Eureka Hotel</p>
					<p>14239136100</p>
				</div>
				<div class="col-md-3">
					<p>Franklin House B & B</p>
					<p>14239136100</p>
					<div class="spacing"></div>
					<p>Hawley House B & B</p>
					<p>14237538869</p>
				</div>
				<div class="col-md-3">
					<p>Jonesborough Bed & Breakfast</p>
					<p>13055191117</p>
					<div class="spacing"></div>
					<p>Linnaea Gardens Guest House</p>
					<p>14237533286</p>
				</div>
				<div class="col-md-3">
					<h2>Ewin</h2>
					@* <p>(Most of these fill up a year in advance)</p> *@
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md-3">
					<h2>Campgrounds</h2>
					@* <p>(Most of these fill up a year in advance)</p> *@
				</div>
				<div class="col-md-3">
					<p>Country Inn & Suites by Carlson</p>
					<p>423-753-3100</p>
					<div class="spacing"></div>
					<p>Eureka Hotel</p>
					<p>14239136100</p>
				</div>
				<div class="col-md-3">
					<p>Franklin House B & B</p>
					<p>14239136100</p>
					<div class="spacing"></div>
					<p>Hawley House B & B</p>
					<p>14237538869</p>
				</div>
				<div class="col-md-3">
					<p>Jonesborough Bed & Breakfast</p>
					<p>13055191117</p>
					<div class="spacing"></div>
					<p>Linnaea Gardens Guest House</p>
					<p>14237533286</p>
				</div>
			</div>
		</div>	


    </div>
</section>

<section class="support-donation">
    <div class="container" id="donation-background">
        <div class="donation-content">
            <h2>Please consider supporting our work.
            </h2>
            <p>Click one of the buttons below to learn more about<br>
                opportunities for sponsorship, donating or volunteering.</p>
            <a class="support-btn" href="">sponsor</a>
            <a class="support-btn" href="">donate</a>
            <a class="support-btn" href="">volunteer</a>
        </div>
    </div>
</section>