 <section class="slider-2"> 
     <div class="slider-header"> 
         <h2>Latest News</h2> 
         <a href=""> 
             <p>View All News</p> 
         </a> 
     </div> 
     <div class="slider-content"> 
         <div class="container"> 
             <div class="carousel" data-bs-ride="carousel" id="carouselExample2"> 
                 <div class="carousel-inner"> 
                     <div class="carousel-item active" id="carouselExample2"> 
                         <div class=" col-md-4"> 
                             <div class="card-body"> 
                                 <img src="images/waygf.jpg" alt="" class="img-fluid"> 
                                 <div class="slider-a-content"> 
                                     <a href=""> 
                                         <p>November 14, 2022 / iswpadmin</p> 
                                         <h3>Story About Gratitude</h3> 
                                         <h6>Read More</h6> 
                                     </a> 
                                 </div> 
                             </div> 
                         </div> 
                     </div> 
                     <div class="carousel-item" id="carouselExample2"> 
                         <div class=" col-md-4"> 
                             <div class="card-body"> 
                                 <img src="images/tsts.jpg" alt="" class="img-fluid"> 
                                 <div class="slider-a-content"> 
                                     <a href=""> 
                                         <p>November 14, 2022 / iswpadmin</p> 
                                         <h3>The Secret To Success</h3> 
                                         <h6>Read More</h6> 
                                     </a> 
                                 </div> 
                             </div> 
                         </div> 
                     </div> 
                     <div class="carousel-item" id="carouselExample2"> 
                         <div class="col-md-4"> 
                             <div class="card-body"> 
                                 <img src="images/trcl.jpg" alt="" class="img-fluid"> 
                                 <div class="slider-a-content"> 
                                     <a href=""> 
                                         <p>November 14, 2022 / iswpadmin</p> 
                                         <h3>This Race Called Life</h3> 
                                         <h6>Read More</h6> 
                                     </a> 
                                 </div> 
                             </div> 
                         </div> 
                     </div> 
                     <div class="carousel-item" id="carouselExample2"> 
                         <div class="col-md-4"> 
                             <div class="card-body"> 
                                 <div class="slider-a-content"> 
                                     <a href=""> 
                                         <p>November 14, 2022 / iswpadmin</p> 
                                         <h3>Story 2 Audio</h3> 
                                         <h6>Read More</h6> 
                                     </a> 
                                 </div> 
                             </div> 
                         </div> 
                     </div> 
                     <div class="carousel-item" id="carouselExample2"> 
                         <div class="col-md-4"> 
                             <div class="card-body"> 
                                 <div class="slider-a-content"> 
                                     <audio controls> 
                                         <source src="horse.mp3" type="audio/mpeg"> 
                                     </audio> 
                                     <a href=""> 
                                         <p>November 14, 2022 / iswpadmin</p> 
                                         <h3>Story Audio</h3> 
                                         <h6>Read More</h6> 
                                     </a> 
                                 </div> 
                             </div> 
                         </div> 
                     </div> 
                     <div class="carousel-item" id="carouselExample2"> 
                         <div class="col-md-4"> 
                             <div class="card-body"> 
                                 <div class="slider-a-content"> 
                                     <a href=""> 
                                         <p>November 14, 2022 / iswpadmin</p> 
                                         <h3>The Japanese folktale</h3> 
                                         <h6>Read More</h6> 
                                     </a> 
                                 </div> 
                             </div> 
                         </div> 
                     </div> 
                     <div class="carousel-item" id="carouselExample2"> 
                         <div class="col-md-4"> 
                             <div class="card-body"> 
                                 <div class="slider-a-content"> 
                                     <a href=""> 
                                         <p>November 14, 2022 / iswpadmin</p> 
                                         <h3>The Millionaire Miser Story</h3> 
                                         <h6>Read More</h6> 
                                     </a> 
                                 </div> 
                             </div> 
                         </div> 
                     </div> 
                     <div class="carousel-item" id="carouselExample2"> 
                         <div class="col-md-4"> 
                             <div class="card-body"> 
                                 <img src="images/wimt.jpg" alt="" class="img-fluid"> 
                                 <div class="slider-a-content"> 
                                     <a href=""> 
                                         <p>November 14, 2022 / iswpadmin</p> 
                                         <h3>Why I Miss Travelling</h3> 
                                         <h6>Read More</h6> 
                                     </a> 
                                 </div> 
                             </div> 
                         </div> 
                     </div> 
                     <div class="carousel-item" id="carouselExample2"> 
                         <div class="col-md-4"> 
                             <div class="card-body"> 
                                 <div class="slider-a-content"> 
                                     <a href=""> 
                                         <p>November 14, 2022 / iswpadmin</p> 
                                         <h3>Hello World</h3> 
                                         <h6>Read More</h6> 
                                     </a> 
                                 </div> 
                             </div> 
                         </div> 
                     </div> 
                 </div> 
                 <button class="carousel-control-prev" data-bs-target="#carouselExample2" type="button" 
                     data-bs-slide="prev"> 
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                     <span class="visually-hidden">Previous</span> 
                 </button> 
                 <button class="carousel-control-next" data-bs-target="#carouselExample2" type="button" 
                     data-bs-slide="next"> 
                     <span class="carousel-control-next-icon" aria-hidden="true"></span> 
                     <span class="visually-hidden">Next</span> 
                 </button> 
             </div> 
         </div> 
     </div> 
 </section>

<script>   
var ee = document.querySelectorAll('.carousel .carousel-item');   
var items = Object.values(ee).filter(e => e.id === "carouselExample2")           
items.forEach((e) =>       
{           
    if (e.id === "carouselExample2")           
{               
    const slide = items.length;               
    let next = e.nextElementSibling;               
    for (var i = 0; i <= slide; i++)               
    {
    
    if (!next)
    {
        next = items[0];
    }
    let clonechild = next.cloneNode(true);
    e.appendChild(clonechild.children[0]);
    next = next.nextElementSibling;

    }
    }

    })
     $('.carousel').carousel({
         interval: 2000
     })
    //$('.carousel').on('slid.bs.carousel', function (e)
    //{
    //    console.log(e)
    //    if (e.from == 2)
    //    {
    //        $('.carousel').carousel(0)
    //
    //    }
    //    e.preventDefault()
    //
    //})
</script>