@page "/special-events"
<PageTitle>Special Events</PageTitle>

<section class="festival-schedule">
    <div class="container">
        <div class="festival-schedule-content">
            <h2>Special Events
            </h2>
        </div>
    </div>
</section>
<section class="get-tickets">

    <a class="special-events-btn" href="">Special Events</a>

</section>
<section class="special-events">
    <div class="container">
    <div class="schedule">
            <div class="schedule-heading">
                <h3>All Locations | <span style="color: #bfbfbf">THEATER</span></h3>
                <div class="spacing"></div>
                <div class="row">
                    <div class="col-md-6">
                    <h4>Special Events</h4>
                        <span class="icons"><i class="icon-calender"></i>December 15, 2022</span>
                        <span class="icons"><i class="icon-time"></i>02:00 - 07:00</span>
                        <span class="icons"><i class="icon-location"></i>Bristol</span>
                    </div>
                    @* <div class="col-md-6">
                        <a href="#" class="schedule-theatre">
                            <img src="images/Theater.png" alt="">
                        </a>
                        <h5 class="card-title">Special Holiday Event - Naughty or Nice?</h5>

                    </div> *@
                    <div class="col-md-6">
                        
                        <div class="special-events-people">
                        <p>Speakers</p>
                            <a href="#" class="br">
                                <img src="images/marianne.jpg" alt="">
                            </a>
                            <a href="#" class="crb">
                                <img src="images/sandy-reaves.jpg" alt="">
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
</section>
<section class="support-donation">
    <div class="container" id="donation-background">
        <div class="donation-content">
            <h2>Please consider supporting our work.
            </h2>
            <p>Click one of the buttons below to learn more about<br>
                opportunities for sponsorship, donating or volunteering.</p>
            <a class="support-btn" href="">sponsor</a>
            <a class="support-btn" href="">donate</a>
            <a class="support-btn" href="">volunteer</a>
        </div>
    </div>
</section>