@page "/video-stories"
<PageTitle>Video Story</PageTitle>

<section class="president-blog">
    <div class="container">
        <div class="president-blog-content">
            <div class="row p-3">
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <img src="images/waygf2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Story About Gratitude</h4>
                            <p class="card-text">Practicing gratitude and implementing it in our lives through prayer,
                                lists, sharing, is a major...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <img src="images/tsts2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>The Secret To Success</h4>
                            <p class="card-text">The Secret To Success – an eye opening story written by Derek Lin, this
                                story..</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <img src="images/trcl2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>This Race Called Life</h4>
                            <p class="card-text">This Race Called Life – a beautiful inspirational short-story is
                                another Dare to do. story...</p>
                            <a href="#" class="rm-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <img src="images/wimt2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4>Why I Miss Traveling</h4>
                                <p class="card-text">Going to Cannes is something I never imagined. I can’t wait to be
                                    there. I....</p>
                                <a href="#" class="rm-btn">Read More</a>
                            </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>