<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3s">
                    <img src="images/logo-footer2.png" alt="">
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-3">
                    <h3> Contact Info </h3>
                    <ul>
                        <li>
                            <p>Address</p>
                            <h2>116 W.Main Street, <br><br> Jonesborough, TN 37659 </h2>
                        </li>

                        <br />
                        <li>
                            <p> Email </p>
                            <h2>contact@storytellingcenter.net</h2>
                        </li>
                        <li>
                            <p> Phone </p>
                            <h2>423-923-1320</h2>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-3">
                    <h3>Quick Links</h3>
                    <ul class="quick-links">
                        <li>
                            <h5> <a href="#" style="margin-top: 5em"> Yoku</a>
                            </h5>
                        </li>
                        <li>
                            <h5><a href="#"> Page Builder </a>
                            </h5>
                        </li>
                        <li>
                            <h5><a href="#"> Support </a>
                            </h5>
                        </li>
                        <li>
                            <h5><a href="#">Pre-Built Websites</a>
                            </h5>
                        </li>
                        <li>
                            <h5><a href="#">Features</a>
                            </h5>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-3">
                    <ul class="social">
                        <li>
                            <h5> <a href="#"><i class="fa fa-facebook"></i>
                                    <img src="" alt=""></a>
                            </h5>
                        </li>
                        <li>
                            <h5> <a href="#"><i class="fa fa-linkedin"></i>
                                    <img src="" alt=""></a>
                            </h5>
                        </li>
                        <li>
                            <h5> <a href="#"><i class="fa fa-twitter"></i>
                                    <img src="" alt=""></a>
                            </h5>
                        </li>
                        <li>
                            <h5> <a href="#"><i class="fa fa-instagram"></i>
                                    <img src="" alt=""></a>
                            </h5>
                        </li>
                    </ul>
                </div>

                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-->
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left copyright"> Copyright © 2022 Elpebi.com. <br>
                All Rights Reserved. </p>

            <a class="scroll-top" href="#">
                @* <img src="images/scroll.jpg" alt=""> *@
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
    <!--/.footer-bottom-->

</footer>