@inherits LayoutComponentBase

<MudThemeProvider />
<PageTitle>StoryTellingWebsite</PageTitle>

<div class="page">

    <main>

        <Header />

        @Body
        <Footer />




    </main>
</div>
